<h3>{{user.firstname}} {{user.lastname}} [{{user.alias}}] </h3>
<ul class='list-group'>
	<li class='list-group-item'><strong> Level: </strong>{{user.level}} </li>
	<li class='list-group-item'><strong> Race: </strong>{{user.race}} </li>
	<li class='list-group-item'><strong> Class: </strong>{{user.class}} </li>
	<li class='list-group-item'><strong> Gold: </strong>{{user.gold}} </li>
</ul>
<a class='btn btn-default pull-left' href='/'>Back</a>